<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>The Chicago</strong>
      </a>
      <div class="d-flex">
        <a routerLink="/wishlist" class="navbar-brand d-flex align-items-end">
          <div>
            <i class="fa fa-heart fa-2"></i>
          </div>
          <div>
            My List
          </div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
</header>