<footer class="bg-dark text-light">
    <div class="container">
      <div class="row p-5 text-center">
        <div class="col-md-3 navbar-brand">
          <h5>Links</h5>
          <ul class="list-unstyled ">
            <li><a href="#" class="navbar-brand">Exhibitions</a></li>
            <li><a href="#" class="navbar-brand">Events</a></li>
            <li><a href="#" class="navbar-brand">About us</a></li>
            <li><a href="#" class="navbar-brand">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
            <h5>Support us</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="navbar-brand">Membership</a></li>
              <li><a href="#"  class="navbar-brand">Luminary</a></li>
              <li><a href="#" class="navbar-brand">Planned Giving</a></li>
              <li><a href="#" class="navbar-brand">Corporate Sponsorship</a></li>
            </ul>
          </div>
        <div class="col-md-3">
            <h5>Learn with us</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="navbar-brand">Families</a></li>
              <li><a href="#" class="navbar-brand">Teens</a></li>
              <li><a href="#" class="navbar-brand">Educators</a></li>
              <li><a href="#" class="navbar-brand">College and University</a></li>
            </ul>
          </div>
        <div class="col-md-3">
          <h5>Follow us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="navbar-brand"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#" class="navbar-brand"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#" class="navbar-brand"><i class="fa fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">&copy; The Chicago Museum of Art</p>
        </div>
      </div>
    </div>
  </footer>