<div>
  <section class="text-center d-flex align-items-center" style="background-image: url('https://www.lacma.org/sites/default/files/styles/card_16_9/public/audio-guide/2021-06/20210325_LACMA_Modern_002.jpg?itok=XMYxqqfF');
             height: 80vh;
             background-repeat: no-repeat;
             background-size: cover;">
    <div class="container">
      <h1><strong>Welcome to Art Institute of Chicago</strong> </h1>
      <p class="lead text-muted">We are one of the oldest and largest art museums in the United States, with a
        collection that spans more than 5,000 years of artistic expression from around the world.</p>
    </div>
  </section>
</div>
<app-card></app-card>